input {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  color: #fff;
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
  font-size: 16px;

  &::placeholder {
    color: #bbb;
  }
}

select {
  padding: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  color: #fff;

  option {
    background-color: #43437e;
  }
}

@media screen and (max-width: 720px) {
  input {
    font-size: 12px;
  }
}