body {
  background-color: #8294C4;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #DBDFEA;
  }

  .wrap {
    position: relative;
    width: calc(100% - 40px);
    min-height: 100vh;
    padding: 20px;
  }

  .inner {
    max-width: 1024px;
    width: calc(100% - 40px);
    margin: 0 auto 50px;
    padding: 60px 20px;
    background-color: #ACB1D6;
    border-radius: 5px;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 20px;

    p {
      line-height: 1.4;
      text-align: center;
    }
  }
}

@media screen and (max-width: 720px) {
  body {
    .inner {
      margin-bottom: 100px;
      padding: 40px 20px;
    }

    footer {
      p {
        font-size: 14px;
      }
    }
  }
}