body {
  background-color: #8294C4;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }

  .wrap {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }

  .inner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .scroll {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
    }
  }
}