.category {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-height: 316px;
    margin-bottom: 10px;

    li {
      padding: 40px 20px;
      border-radius: 10px;
      background-color: #2b2861;
      font-size: 18px;
      text-align: center;

      div {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        button {
          width: 48%;
          font-size: 14px;
        }
      }
    }
  }

  &-btn {
    button {
      margin-top: 10px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 720px) {
  .category {
    ul {
      gap: 10px;
      max-height: 268px;
      margin-bottom: 0;

      li {
        padding: 20px 0;
        font-size: 14px;

        div {
          display: block;
          margin-top: 10px;

          button {
            width: 80%;
            font-size: 12px;

            &:first-child {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}