.question {
  display: none;

  &.active {
    display: block;
  }

  h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }사자

  p {
    display: none;
    text-indent: -9999px;
  }

  input {
    margin: 50px auto;
  }

  button {

  }
}