.join {
  &-form {
    div {
      margin-bottom: 30px;

      h3 {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }

    &-btn {
      button {
        &:last-child {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .join {
    &-form {
      max-height: 240px;

      div {
        h3 {
          margin-bottom: 0;
          font-size: 14px;
        }

        span {
          font-size: 11px;
        }
      }
    }
  }
}