.join {
  &-form {
    div {
      margin-top: 50px;
    }

    &-btn {
      button {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .join {
    &-form {
      div {
        margin-top: 30px;
      }

      &-btn {
        button {
          margin-top: 15px;
        }
      }
    }
  }
}